<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>

    <title>Light Bootstrap Dashboard PRO by Creative Tim</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag 'light_bootstrap_dashboard_pro/favicon.ico', rel: 'icon', type: 'image/ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto:400,700,300' %>
    <%= yield :stylesheet_head %>

    <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :javascript_head %>

    <%= javascript_include_tag 'light_bootstrap_dashboard_pro/init', 'data-turbolinks-track' => true %>
  </head>
  <body class="<%= yield :class %>" data-features="<%= yield :features %>">
    <%= yield %>
  </body>
</html>
